* {
  font-weight: bold;
  font-size: large;
}
/* ----------------------------01---------------------------- */
.parent {
  width: 1000px;
  background-color: #eee;
  margin: auto;
  height: 280px;
}

/* .clear {
  clear: both;
  display: block;  for span convert it to block element 
}*/

div:not(.parent, section div) {
  background-color: #ddd;
  text-align: center;
  float: left;
  padding: 15px 0px;
}

.full {
  width: calc(100% - 30px);
  margin: 15px 15px 7.5px 15px;
}
.AA,
.BB {
  margin: 7.5px 0px 7.5px 15px;
}

.AA {
  width: calc((100% - 60px) / 3);
}

.BB {
  width: calc((100% - 45px) / 2);
}

.CC {
  width: calc((100% - 75px) / 4);
  margin: 7.5px 0px 15px 15px;
}
/* ------------------------02----------------------------- */
section div {
  margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  background-color: rgb(179, 179, 179);
  color: black;
}

section .one {
  background-color: rgba(179, 179, 179, 0.1);
}

section .two {
  opacity: 0.1;
}
